.custom-navbar {
  background-color: #f8f9fa; 
  border: 1px solid #ddd; 
  border-radius: 5px; 
  margin-bottom: 1rem; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.p-menubar {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 0.5rem; 
}

.p-menuitem {
  margin-right: 1rem; 
}
.p-menuitem:last-child {
  margin-right: 0;
}

.p-menuitem-link {
  padding: 10px 20px;
  color: #495057;
  transition: background-color 0.3s ease; 
}

.p-menuitem-link:hover {
  background-color: #e9ecef;
  color: #007bff;
}

.p-menuitem-link.p-highlight {
  background-color: #007bff; 
  color: white; 
}
